body {
  font-family: "Playfair Display", serif;
}

h5 {
  color: black;
}
/*Ajacent Targeting*/
p {
  font-size: 24px;
}
.heading {
  font-size: 2.25rem;
}

.heading-1 {
  color: black;
  text-shadow: 1px 1px 1px lightgreen, 2px 2px 1px lightgreen;
}

.heading-2 {
  color: red;
  text-shadow: 1px 1px 1px lightskyblue, 2px 2px 1px lightskyblue;
  font-size: 2.25rem;
}
.heading-3 {
  color: blue;
  text-shadow: 1px 1px 1px lightskyblue, 2px 2px 1px lightskyblue;
  font-size: 2.25rem;
}

.heading-4 {
  color: black;
  text-shadow: 1px 1px 1px palevioletred, 2px 2px 1px palevioletred;
  font-size: 2.25rem;
}

.bg-image {
  min-height: 70vh;
  width: 150vh;
  background-image: url(https://media.giphy.com/media/UXDTuJYkvSfy8rqoen/giphy.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}
.bg-image-1 {
  min-height: 70vh;
  width: 150vh;
  background-image: url(https://media.giphy.com/media/okrv1eWeKVM9W/giphy.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}

.bg-image-2 {
  min-height: 70vh;
  width: 150vh;
  background-image: url(https://media.giphy.com/media/l2R032V7qRAF8J6qA/giphy.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 2%;
}
.bg-image-3 {
  min-height: 70vh;
  width: 150vh;
  background-image: url(https://media.giphy.com/media/NsJNYMghH7bHCJ54WZ/giphy.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 2%;
}
.bg-image-4 {
  min-height: 70vh;
  width: 150vh;
  background-image: url(https://media4.giphy.com/media/3o7bu1QBfylzi8MmYw/200.webp?cid=ecf05e47wk6x5nrujr9hn30eskr8qbjerxdl2ydwwp7ntd59&rid=200.webp&ct=g);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 2%;
}
.move-me {
  width: 100px;
  height: 100px;
  position: sticky;
  top: 0px;
}
.bg-1 {
  background-color: black;
  background-size: cover;
  background-size: 100%;
  color: red;
}

.bg-2 {
  background-color: gray;
  background-size: cover;
  background-size: 100%;
  color: blue;
  text-shadow: 1px 1px 1px gainsboro, 2px 2px 1px gainsboro;
}

.bg-3 {
  background-color: rgb(82, 82, 252);
  background-size: cover;
  background-size: 100%;
  color: black;
  text-shadow: 1px 1px 1px violet, 2px 2px 1px violet;
}

.bg-4 {
  background-color: rgb(244, 244, 144);
  background-size: cover;
  background-size: 100%;
  color: black;
  text-shadow: 1px 1px 1px rgb(178, 255, 174), 2px 2px 1px rgb(178, 255, 174);
}

.section-1 {
  color: blue;
  text-shadow: 1px 1px 1px lightskyblue, 2px 2px 1px lightskyblue;
  width: 100%;
  height: 600px;
}

.img-1 {
  width: 500px;
  height: 500px;
}

/* Nested*/

.block {
  color: orange;
}

#second {
  margin-top: 1000px;
}
.color {
  color: pink;
}

hr.style1 {
  border: 10px dotted blue;
}
